<style>
body{
background: #52BE80 ;
}
p{
font-size:60px;
text-align:center;
color:#FAFAFA  ;
font-family:Script MT;
}
img{
width:550px;
height:450px;
padding:20px 30px;
}
img.hoverImages {
margin:20px;
padding:3px;
outline:2px dashed green;
border:green;	
float:left;
-webkit-transition: margin 0.5s ease-out;
-moz-transition: margin 0.5s ease-out;
-o-transition: margin 0.5s ease-out;
}
 
img.hoverImages:hover {
margin-top: 5px;
}
h4{
text-align:center;
font-size:40px;
color:#D4E157;

}
</style>